@import "tailwindcss";

@import "@fontsource/inter/300.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";

@layer utilities {
  .Inter-300 {
    font-family: "Inter";
    font-weight: 300;
  }

  .Inter-500 {
    font-family: "Inter";
    font-weight: 500;
  }

  .Inter-700 {
    font-family: "Inter";
    font-weight: 700;
  }
}

@layer footer {
  .attribution {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: black;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@theme {
  /* ================= PRIMARY ================= */
  /* Main Background  */
  --bg-main-color: hsl(0, 0%, 46%, 0.3);
  /* Text */
  --color-context: hsl(240, 38%, 20%);
  --color-user-name: hsl(240, 18%, 77%);

  /* BODY TEXT */
  --text-sm: clamp(0.875rem, 0.2vw + 0.8rem, 0.95rem);
  --text-base: clamp(1rem, 0.3vw + 0.9rem, 1.125rem);
  --text-lg: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);

  /* SUB HEADINGS */
  --text-xl: clamp(1.25rem, 0.9vw + 1rem, 1.75rem);
  --text-2xl: clamp(1.5rem, 1.4vw + 1rem, 2.25rem);
  --text-3xl: clamp(2rem, 2.2vw + 1rem, 3rem);

  /* HEADINGS */
  --text-4xl: clamp(2.5rem, 3vw + 1rem, 4rem);
  --text-5xl: clamp(3rem, 4vw + 1rem, 5rem);
  --text-6xl: clamp(3.5rem, 5vw + 1rem, 6rem);

  /* HERO / DISPLAY */
  --text-7xl: clamp(4rem, 6vw + 1rem, 7rem);
  --text-8xl: clamp(4.5rem, 7.5vw + 1rem, 8.5rem);
  --text-9xl: clamp(5rem, 9vw + 1rem, 10rem);
}
